@use '../abstracts/' as abs;
@use './nav';

header {
    @include abs.flex(space-between, center);
    padding-block: 2em;
    position: relative;

    .logo-link {
        display: flex;
    }
}

@media (min-width: 765px) {
    header { 
        gap: 2rem;
    }
}